<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <h1><a href="{{ url_for('index') }}">DATUM</a></h1>
        <nav>
            <ul class="header-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('communication') }}">Communication</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="centered-container">
        <div class="content">
            <button id="back" class="hidden">&larr; Go Back</button>
            <div id="form-portal" class="visible">
                <h1>Data Annotation, Transformation, and Unified Mapping</h1>
                <p>Welcome to DATUM, the tool to transform your data into the format that you prefer. Upload your data,
                choose the format that you want and generate the results. When you get your desired results, export the data
                or send it to a data capture tool of your choosing.</p>
                <div class="button-group">
                    <button id="startUpload" class="action-button">Get started</button>
                </div>
            </div>
            <div id="uploadDiv" class="hidden">
                <div>
                    <h1>Data upload</h1>
                    <p>Choose with data to upload. Data can be uploaded through: 1. Choosing a local file, 2. Submitting
                        a link, 3. Pasting plain text. Multiple datasets can be uploaded at once, so add as many as you
                        prefer. Once all the data has been inputted, click the 'Upload' button.</p>
                    <div class="rowDiv">
                        <div class="uploadBox">
                            <div class="uploadHeader">
                                <button class="collapse-btn" aria-expanded="false" aria-label="Expand/Collapse">&#9654;</button>
                                <label class="uploadLabel" for="fileInput">Upload a file:</label>
                            </div>
                            <div class="uploadContent">
                                <input type="file" id="fileInput"><br>
                            </div>
                        </div>
                        <div class="uploadBox">
                            <div class="uploadHeader">
                                <button class="collapse-btn" aria-expanded="false" aria-label="Expand/Collapse">&#9654;</button>
                                <label class="uploadLabel" for="urlInput">Enter a URL:</label>
                                </div>
                            <div class="uploadContent">
                                <input type="url" id="urlInput" placeholder="https://example.com"><br>
                            </div>
                        </div>
                        <div class="uploadBox">
                            <div class="uploadHeader">
                                <button class="collapse-btn" aria-expanded="false" aria-label="Expand/Collapse">&#9654;</button>
                                <label class="uploadLabel" for="plaintextInput">Enter text:</label>
                            </div>
                            <div class="uploadContent">
                                <textarea id="plaintextInput" placeholder="Example..."></textarea><br>
                            </div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="action-button" onclick="uploadData()">Upload</button>
                    </div>
                </div>
            </div>
            <div id="transformedData" class="hidden">
                <h1>Data transformed</h1>
                <div>
                    <div>
                        <h2>Uploaded data:</h2>
                        <div id="originalData" class="centered-container"></div>
                    </div>
                    <div>
                        <h2>Transformed data:</h2>
                        <div id="rdfData"></div>
                    </div>
                </div>
                <div class="button-group">
                    <button class="action-button" onclick="addMetadata()">Next step</button>
                </div>
            </div>
            <div id="metadataDiv" class="hidden">
                <h1>Add metadata</h1>
                <p>If desired, metadata can be added to the transformed data. The metadata can be uploaded or added manually or generated automatically. If you wish to skip this step, click the 'Next step' button below to proceed without adding metadata.</p>
                <div class="button-group">
                    <button class="action-button" onclick="exportData()">Next step</button>
                </div>
            </div>
            <div id="exportDiv" class="hidden">
                <h1>Export data</h1>
                <div>
                    <p>Final data:</p>
                </div>
                <p>Choose where to export the final data to:</p>
                <div class="button-group">
                    <button class="action-button" onclick="exportAllegrograph()">AllegroGraph</button>
                </div>
                <p>Once all data has been exported, click the 'Start again' button below if you want to repeat the process with another dataset.</p>
                <div class="button-group">
                    <button class="action-button" onclick="startOver()">Start again</button>
                </div>
            </div>
        </div>
    </div>
<script src="static/index_script.js"></script>
</body>
</html>
